#about_me{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--myblack2);
    padding: 5vh 2vw;
}

#dev_image{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

#pasqua{
    width: 400px;
}

#about_me .right-side{
    max-width: 60%;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

#about_me .right-side h2{
    padding-bottom: 4vh;
    font-size: 3.5em;
    color: var(--myblue);
    cursor: default;
}

#about_me .right-side p{
    font-size: 1.5em;
    margin-bottom: 1vh;
    line-height: 3vh;
    cursor: default;
    text-align: justify;
}

#about_me .right-side p b{
    color: var(--myblue);
    cursor: pointer;
}