* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
}

:root {
    --myblue: #008FFF;
    --myblack: #171717;
    --myblack2: #232323;
    --mygray: #dddddd;
}

.blue{
    color: var(--myblue);
}

a{
    text-decoration: none;
}

.instagramPost{
    color: var(--myblue);
    text-decoration: underline;
}