#enterprises{
    background-image: url('../images/bg_dark_effect1.png');
    padding: 2em 10% 2em 15%;
    display: flex;
    align-items: center;
    gap: 5vw;
    justify-content: space-evenly;
}

#enterprises .presentation h2{
    text-align: end;
    font-size: 2.2vw;
    cursor: default;
}

#carousel{
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    max-width: 756px;
}

#carousel_slide{
    display: flex;
}

#carousel img{
    max-width: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    filter: grayscale(70%);
    transition: ease .3s;
    margin-right: 16px;
}

#carousel img:hover{
    filter: grayscale(0);
    border-radius: 10px;
}

#with_buttons{
    display: flex;
    align-items: center;
}

#arrow_right, #arrow_left{
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 999;
    border-radius: 4px;
    transform: scale(0.8);
    transition: ease .2s;
}

#arrow_right:hover, #arrow_left:hover{
    transform: scale(0.9);
    cursor: pointer;
}

