#enterprises{
    background-color: var(--myblack);
    padding: 2em 8%;
    display: flex;
    align-items: center;
    gap: 5vw;
    justify-content: space-evenly;
}

#enterprises .presentation h2{
    color: var(--myblue);
    text-align: end;
    font-size: 2.2vw;
    cursor: default;
}

#carousel{
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    max-width: 756px;
}

#carousel_slide{
    display: flex;
}

#carousel img{
    max-width: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    filter: grayscale(70%);
    transition: ease .3s;
    margin-right: 16px;
}

#carousel img:hover{
    filter: grayscale(0);
    border-radius: 10px;
}

@media (max-width:1180px){
    #enterprises{
        flex-direction: column;
    }
    #carousel{
        max-width: 370px;
    }
}

