/* Header */
@media (max-width: 768px){
    header{
        flex-direction: column;
        padding: 0;
    }
    
    header h2{
        width: 100%;
        display: none;
    }

    nav ul{
        display: none;
    }

    #flags{
        width: 70%;
        justify-content: center;
        gap: 10%;
    }

    .flag{
        width: 18vw;
    }
}

/* Greeting */
@media (max-width:1040px){
    #greeting{
        flex-direction: column;
        padding: 1em 1.2em;
    }

    #greeting .left-side{
        padding: 0;
    }

    #greeting .left-side h3, #greeting .left-side h1{
        display: flex;
        justify-content: center;
    }

    #greeting .left-side h3{
        font-size: 2rem;
    }

    #greeting .left-side h2{
        text-align: center;
    }

    #greeting .left-side h1{
        font-size: 2.2rem;
        gap: 8px;
    }

    #greeting lottie-player{
        max-width: 80vw;
        max-height: 40vh;
        padding-top: 1em;
    }

    #curriculum{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    #contact{
        width: 40%;
    }
}

/* About me */
@media (max-width: 1040px){
    #about_me{
        flex-direction: column;
        padding: 1.5em 0;
    }

    #dev_image{
        width: 100%;
        justify-content: center;
    }

    #pasqua{
        max-width: 70vw;
    }

    #about_me .right-side{
        max-width: 100%;
        padding-inline: 1.2em;
    }

    #about_me .right-side h2{
        text-align: center;
        padding: 2% 0;
    }

    #about_me .right-side p{
        line-height: 1.1em;
    }
}

/* Enterprises */
#phoneArrows{
    display: none;
}
@media (max-width: 1040px){
    
    #enterprises{
        padding: 0 2%;
        flex-direction: column;
    }

    #carousel{
        max-width: 370px;
    }

    #enterprises .presentation h2{
        font-size: 2rem;
        text-align: center;
        padding-top: 1em;
    }

    #phoneArrows{
        display: block;
    }

    #with_buttons{
        display: flex;
        flex-direction: column;
    }

    #arrow_left, #arrow_right{
        display: none;
    }

    #phoneArrows{
        margin-top: 1em;
    }

    #phoneArrows img{
        max-width: 60px;
    }
}

#to_top, #myBusiness, #projects, #contacts, footer{
    display: none;
}

/* Knowledge */
@media (max-width: 1040px){
    #knowledge .top-side h2{
        font-size: 2em;
    }
    
    .knowledgeBox{
        width: 40%;
    }

    .knowledgeBox img{
        width: 100px;
    }

    .knowledgeBox h3{
        font-size: 0.8em;
    }
}